apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "lightspeed.openshift-ai.io/v1beta1",
          "kind": "OpenShiftAILightspeed",
          "metadata": {
            "labels": {
              "app.kubernetes.io/managed-by": "kustomize",
              "app.kubernetes.io/name": "openshift-ai-lightspeed-operator"
            },
            "name": "openshiftailightspeed-sample"
          },
          "spec": {
            "llmCredentials": "openshift-ai-lightspeed-apitoken",
            "llmEndpoint": "http://llm_provider:11434/v1",
            "llmEndpointType": "openai",
            "modelName": "llama3.1:8b",
            "tlsCACertBundle": "openshift-ai-lightspeed-certs"
          }
        }
      ]
    capabilities: Basic Install
    createdAt: "2026-01-22T21:56:25Z"
    operatorframework.io/suggested-namespace: openshift-lightspeed
    operators.operatorframework.io/builder: operator-sdk-v1.40.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
    repository: https://github.com/opendatahub-io/openshift-ai-lightspeed-operator
  name: openshift-ai-lightspeed-operator.v0.0.1
  namespace: openshift-lightspeed
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: OpenShiftAILightspeed
      name: openshiftailightspeeds.lightspeed.openshift-ai.io
      specDescriptors:
      - description: URL pointing to the LLM
        displayName: LLMEndpoint
        path: llmEndpoint
      - description: Type of the provider serving the LLM
        displayName: LLMEndpointType
        path: llmEndpointType
      - description: Name of the model to use at the API endpoint
        displayName: ModelName
        path: modelName
      - description: Secret name containing API token for the LLMEndpoint
        displayName: LLMCredentials
        path: llmCredentials
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes:Secret
      - description: Configmap name containing a CA Certificates bundle
        displayName: TLSCACertBundle
        path: tlsCACertBundle
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes:ConfigMap
      - description: MaxTokensForResponse defines the maximum number of tokens to
          be used for the response generation
        displayName: MaxTokensForResponse
        path: maxTokensForResponse
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:advanced
      statusDescriptors:
      - displayName: Conditions
        path: conditions
      version: v1beta1
  description: |-
    OpenShift AI Lightspeed is a generative AI-based virtual assistant for Red Hat OpenShift AI (RHOAI) users which integrates into the OpenShift Lightspeed.

    OpenShift AI Lightspeed can answer natural-language questions about Red Hat OpenShift AI (RHOAI). It can assist data scientists, ML engineers, and platform administrators in troubleshooting issues, providing configuration guidance, and offering best practices for managing their AI/ML workloads on OpenShift.

    To set up the OpenShift AI Lightspeed Operator, you will need a Large Language Model (LLM). You can run one yourself with Red Hat Enterprise Linux AI (RHELAI) or Red Hat OpenShift AI (RHOAI), or you can use a model from a SaaS provider such as OpenAI.
  displayName: OpenShift AI Lightspeed
  icon:
  - base64data: iVBORw0KGgoAAAANSUhEUgAAAXwAAAF8CAYAAADM5wDKAAAACXBIWXMAAG66AABuugHW3rEXAAAgAElEQVR4nO3dT2gjeX738a9KVaU/lltSe3tmOhmQhg0sgYT2QAgLaZ5WX5bc1k0O8+RkGXJIDmGcQ0gCgfVCYLPk4iGH5LBg+ZRnD8HaW8hl1Q8bWELgUZNAWNhlLdikd7rbltyW9adUKj0HW467226rflUllapeL2h6plu/qh/j4eOfv79/iclkIgCA6NMW3QEAwHwQ+AAQEwQ+AMQEgQ8AMUHgA0BMEPgAEBMEPgDEBIEPADFB4ANATOiL7kBUtdvth5PJ5Lccx3k0mUyK4/H4a5PJJC0iYllWYdH9AxbNNM2OiEgikRgkk8mfJBKJtqZpTxOJxL8Vi8UfLbp/UZTgaAXvjo+Ptx3HeeQ4zm/atv0ro9Eos+g+AcvOMIy+ruv/rWnav2ua9vTu3bu7i+7TsiPwXep0OiXHcf7Qtu3ftW37a4Q7MD8X3wR+ouv6P2ma9veFQqG16D4tEwJ/Bu12+zPbtv9oNBr9NgEPhIdhGH3DMP5V1/W/KxaL3190f8KOwL9Bu93+bDQa/bllWb8xHo+Z6wBCLplM2qZp/odhGH9N+F+PwL+i3W4/tG37r4bD4e8Q8sDySiaTdiqV+hdd1/+SCeD/QeCLyNHR0fcsy/o9Vs8A0WOaZsc0zX9cW1v7g0X3ZdFiG/idTqc0Go32Gc0D8TAd9RuGsRnXyd7YBX673X44Go3+djgcPnAcJ7Ho/gCYL03TJqlU6plhGH8ct3JPbAL/Iuhr/X7/q4vuC4BwyGQyPzMMoxqX4I984E9LN71e79Gi+wIgnLLZ7NM4lHoiHfivXr066Pf736R0A+A2mqZNMpnMD77yla88WXRfghLJwD8+Pt7u9Xp/E9bJWE3TxDTNa/8ulUrNuTdAcIbD4bV/blmWOI4z597MJplM2tls9k+jeJRDpAK/0+mUBoPBj4fD4UeL7otpmqLruhiGIaZpXoa8pnFAKTDlOM5l+FuWJaPRSGzbFsuyFt01SaVSv0yn01+PUpknMoG/yPKNruuSTqcvwz2dTs+7C0DkDAaDy28Cg8FAbNueex+iVuZZ+sDvdDqlfr/fnPemqWw2K6lUSrLZrOh6KCtHQKTYti29Xk+Gw6H0er25vts0zU4mk1lf9tH+Ugf+8fHxd87Ozv5sHqN6TdMkm81KJpORbDYb9OsA3KLX60m/35derzeX+QBN0yYrKyvfvXv37l8E/rKALGXgdzqdkmVZ9X6/vx70u6Yhn8vlgn4VAEXdbvcy/IOWyWSapmluLONof+kCv91uP+z3+/8c5DHFmqbJ6uqq5HI5yjXAErFtW7rdrpyengY66jcMo5/JZL6xbBu2lirwgy7h6Lou+Xye0TwQAd1uV05OTgKb7F3GEs/SBP6rV68Ozs7ONoJ4djqdltXVVWrzQAT1ej05PT2VwWAQyPNXVlbqy7KKZykC/8WLFz8N4gwcXddlbW2NZZRADAwGAzk6OgpkxJ/JZH72wQcf/JrvD/ZZqAM/qCWXmqZJsVikdAPEULfblXa77XuNfxmWboY28DudTqnX6/2n35Oz+Xxe7ty5w45XIMYcx5HXr1/LycmJr881DKOfzWZ/PayhH8rAD2IlTjqdlmKxeOMZNgDix7Isabfbvtb3wxz6oQv8drv9Wbfb/Qe/VuJomnY5qgeA60xH+36VeTRNm+Ryud8P22XqoQp8v8PeNE25d+8ea+kB3Mq2bXn58qVvB7eFMfRDE/idTqd0enr6c7/CPp/PS6HAneQA3Ol0Or7V9jVNm6yurn4SlvJOKALfzwlaTdPk3r17LLUEoGwwGMjLly99KfGEqaa/8MD3M+xN05QPP/yQFTgAPHMcR7788ktfSjxhCf2FJ2O/32/6Efa5XE7u379P2APwhaZpcv/+fV/264xGo0y/32/60C1PFpqOL168+Kkfm6ry+bysra350SUAeMPa2prk83nPz7Esq/DixYuf+tAlZQsL/Isbqjwfl7C2tsbkLIBAFQoFXwaV/X7/q69evTrwoUtKFhL4F6deejoITdM0WVtb43gEAHORy+VkbW3Nc9n47Oxs4/j4+Ds+dcuVuU/attvth91u9/96WX6paZp8+OGH7JoFMHeWZcmXX37paQXPxRr9/zXv8/TnGvh+rMgh7AEsmh+hv4iVO3Mt6ViWVSfsASw7P5aAj0ajjGVZdR+7dau5Bf7x8fF3vN5By+FnAMLCNE0pFouentHv99fnWc+fS0nHj2MTmKAFEEbdbleOjo6U28/z+IW5jPD7/X7TS9hzzyyAsMrlcp7W6TuOk5jXpqzAA//Vq1cHXjZX5XI51tkDCLVCoeBpUGpZVmEe6/MDLel4LeWYpin379/3u1sAEIjnz58rn70zj9JOoCP8wWDwY9Wwn67IAYBl4WXljuM4icFg8GOfu/SGwAL/+Ph4ezgcfqTa/t69exyEBmCpTI9nVzUcDj86Pj7e9rFLbwispPOLX/xiNB6Pla6a4vISAMvMyyUqyWTS/vjjjw2fuyQiAY3wX716daAa9qZpEvYAllqhUFDeMzQej/WgJnB9H+F7maidnj/NHbQAlp1t2/L8+XOl4xeCmsD1fYQ/Go32VSdq8/k8YQ8gEnRdV16f7zhOYjQa7fvcJX8Dv91uP+z1eo9U2qbTablz546f3QGAhbpz547y/dq9Xu9Ru91+6Gd/fA380WhUU23r9UwKAAgjL9nmJVOv41vgt9vth6o3WOXzeQ5FAxBJpmkql3b6/f5X/Rzl+xb4o9Hob5U6oGmUcgBE2p07d5T3Falm63V8CfxOp1MaDocPVNoWi0U2WAGINE3TlEs7w+HwQafTKfnSDz8eoroyR9d1TsEEEAu5XE5pFaKfK3Z8CfzhcPg7Ku38uAUeAJaFauapZuzbPAf+0dHR91R21abTaeXlSgCwjFRybzwe60dHR9/z+n7PgW9Z1u+ptFtdXfX6agBYOqrZp5q1V3kK/Ha7/VDlchNd1yWbzXp5NQAspWw2q1TLtyyr4HWJpqfAt237r1TaebkODACWnWoGqmbulKfAV5lI0DSNlTkAYi2XyyktR/c6easc+O12+zOVyVpq9wCgloXj8Vhvt9ufqb5TOfBHo9Gfq7RjdA8A6lmomr0iHgLfsqzfcNtGdbICAKJGdfGKSvZevlOlkWo5J5PJqLwOmDu70bj850ShIMn19cV1BpGVyWSk1+u5ajMt6xSLxe+7fZ/SCN+27T9y/SIma7EERvW6nJTLcvr48eWv159+Kiflsozq9UV3DxGjOnmrksEiioE/Go1+220b1t0j7M6qVek+eSJO691b5ZxWS7pPnshZtTr/jiHSVLJRJYNFFAK/0+mURqOR69oM5RyE2aheF2v/9vOprP19RvrwlUo2jkajjMoJmq4D33GcP3TbRoQRPsKtt70dyGeB26hmo0oWuw5827Z/120bwh5hNm42ry3j3MRptd6Y1AW8UslIlSxWCfyvuW2TSqXcNgHmZtLpLLoLiDmVjFTJYteBr1K/Z4QPADdTnLh1ncWuAv/4+Nh18VLXdTZbAcB7qOak20x2Ffjj8XjDXXeES04AYAYqWek4ziM3n3cV+JPJ5GN33RExDMNtEwCIHZWsdBznN9183lXg27b9K+66I2KaptsmABA7KlnpNpNdBb7KJAElHQC4nUpWus3kmQNf5WotRvcAMDuVzHSTzTMH/mQy+S23HWF1DgDMTiUz3WTzzIHvdjZYhAlbAHBDceJ25mx2M8Ivuu0IJR0AmJ1KZrrJ5pkDfzweu9/Gq3DOMwDElUpmuslmNyN811PIjPABYHaKI/yZsznQITgjfACYXdCZOfPTLcsquHowYQ8ArrnNTjfZHFgqU84BAPeCzE6G4QAQEwQ+AMQEgQ8AMUHgA0BMzBT4KgensUoHAMJlplQuFos/cvtgztEBAPeCzE6G4QAQIkFWRwh8AIgJDqxHqNmNhjiHhyIiopXLolcqC+0PsMwIfISSVatJf2dHnFbrjT/XSiVJb29Lant7QT0DlhclHYTOWbUqZ1tb74S9iIjTaknvT/5EzqrV+XcMWHIEPkLFqtXE2t+//XP7+2LVasF3CIgQAh+h0t/ZCeSzAAh8hIjdaFxbxrmJ02qJ3WgE1yEgYgh8LLVxs7noLgBLg8DHUrMJfGBmBD6WGiUdYHYEPkJDZVOV02rJpNPxvzNABLHxKuYajYYcXuxkLZfLUlnwTtbkgwcyfvbMVZtxs8kOXGAGjPBjqlarSblclsePH8vW1pZsbW3J48ePpVwuS22B69tVgntEWQeYCYEfQ9VqVba2tqR1zRLIVqslW1tbUl3QTlZ9fd11G+r4wGwI/Jip1WqyP8NO1v39/YWEflIh8FmaCcyGwI+ZHRe7UxcR+sn1dUnk867aTE5OLk/UBHAzAj9Gms3mtWWc91lU6LvFKB+4HYEfIx3F5YvzDn0mboFgEPiYyTxDX2XilhE+cDsCP0YKhYKn9vMKfZURvv30qf8dASKGwI+R9fV1KZVKnp4xj9BPFAqiKfSTUT7wfgR+zLhZpXOTeYS+ysQt6/GB9yPwY6Zarcrm5qbn5wQd+kqBzwgfeC8CP4ZqtVroQ99QqONT0gHej8CPqbCHvsrErdtD14C4IfBjLOyhn3zwwHUb6vjAzQj8mAtz6KvU8dmABdyMwEdoQ1+ljg/gZgQ+RCScoa8ywgdwMwIfl8IW+iqBr3ncTQxEGYGPN4Qt9E2XfTE2Njy/E4gqAh/vCFPoZ1zsDE59/rlo5bKn9wFRRuDjWmEJfa1clpW9vVs/l3zwwNU3ByCOCHzcKCyhb1arsvrDH4r+6NE7f5fI5yX9rW/JaqMhCer3wHvpi+4Awq1Wq4mIzHQP7vtM20+f55ZeqchqoyHO4eEb1xkm19cJemBGBD5uFZbQFzkv8VCnB9RQ0sFMwlLeAaCOwMfMCH1guRH4cIXQB5YXgQ/XCH1gORH4UELoA8uHVToBOzw8lMOLZYSFQkHWI3QgWJhW7wC4HSP8gNTrdSmXy/LJJ5/I48eP5fHjx/Lpp59KuVyWer2+6O75hpE+sDwI/ABUq1V58uSJtFqtd/6u1WrJkydPIhVuhD6wHAh8n9Xr9ZlKHPv7+4z0r0HoA8Eh8H22vb0dyGeXAaEPhBuB76NGo3FtGecmrVZLGhG7g5XQB8KLwPdRs9l03SZqgS9C6ANhReD7qKxwqFeUlmleRegD4UPg+0glvKMa+CLRDn2OZMYyIvB9VC6XpVQqzfz5Uqmk9FPBMlmG0NcrFdFcfN20UknpgnVg0Qh8n7nZLRrkzlK70ZDh7q5YtZrYC54nWIbQz+7uBvJZIEw4WsFnlUpFPv/8c/niiy/e+7lvfetbUqlUfH//cHdX+js7Mjk5eefvkg8eiF6piL6+LsmLX/MS9mMYjI0NMTc3xbqlf+bmphgbG76+G5iXxGQymemDrVZrtg9eyOfzUohxnbNer8v29vY7yzRLpZLs7u7KRgChcVat3hpYVyXyeUmur19+E9ArlcBr09Vq1XPoi4hsbm4G8hPSqF6X3va2OG993bRSSbK7u4Q9AtfpdOTkmgHb+5RKpcQsnyPwA9ZoNKTZbEqn05FKpRLIqF5ExKrV5Gxry/NzpvXp5Pq6GJWK6AH016/Q39vbC6zEM242ZdLpXP57EP8dgOsQ+LjVSbn8zqjUL8kHDy6/AfhVCvIj9Eul0uVJpEBUBBn4TNpGwLjZDCzsRUTGz56Jtb8vZ1tb8vrTT6WdSMhZtSqOh7D1YyK31WopbXYD4orAj4DxAkLP2t+Xk08+EctDHd2P0O9cKbsAeD8CH56cbW15Wvbp15JNALcj8CNAW/Dmrf7Ojqf2XkKfeSJgdgR+BLjdKeo3++lTz2UlldAvlUqRPpoC8BsbryIiu7sr3SdPFvZ+5/DQ8+odt5uzdjz+ZIHgNBqNyxVU5XI5sOXIcIfAj4hZd4oGxcuKnatmDf3Nzc3QHaiG86/fzs7OtRsOd3Z2+JotGCWdCFmp1WRlb28h5R0/j2mo1Wqyt7d37UF0pVJJ9vb2Aj2HCGqq1apsbW3deJfz1tYWgb9gbLyKqHGzKXajIfbF70Gu00/k81IIaHnk2xfEUBoIp1qtJlsz7vQO6liMqAhy4xUlnYia7ohNXfz7pNORcbMpo0ZD7Ebj/OgAl/9T3SQV4N28BPxycDOfEtQBeLgdI/wYcw4PL78JjJtNsZ8+df2M5IMHcofdrrHWbDbl008/dd2Okf71GOEjEFq5LFq5/MYJkFdLQeNmU8bPnt3YPvX555JhpUzsqe52ZqQ/fwQ+3vB2KUjk/DKV0ZVaulYoiLGxsfANX1h+hP58Efi4lR7QMcmIBq+lW0J/fliWCcCT9fV1V3c5XyeMF9VHEYEPwDM/dj0T+sEj8AF4Vq1WQ39RPQh8AD7x66hrQj84BD4A3xD64UbgA/AVoR9eBD4A3xH64UTgAwgEoR8+BD6AwBD64ULgAwgUoR8eBD6AwBH64cBZOgGz37rAA+9KFAq+3pj1Ps1mU/l0R3hTrVal2WzKs/ecwDoLzt5RR+AHZFSvS297O9CbpqJEK5Uku7v7xlHNfqrX67K9vX3t9XtYPoS+Gko6ATirVqX75Alh74LTakn3yRM5C+DH9Wq1Kk+ePCHsI2Z/f1+2A7xtLYoIfJ+N6nWxLkYfcM/a35dRve7b8+r1+uVoENHzxRdfvHPvMW7GFYc+OymXGdl7pJVKkj889OVZ5XKZkX3ElUolOfTp/5cwCPKKQ0b4Pho3m4S9D5xWy5fJ7kajQdjHQKvVYiJ+RgS+jyb8TxcqhEB8NJvNRXdhKRD4ABATBD5CKeHD/E+ZS9ZjY31O+ziWHYHvI71SEc3j3Z44n7T1YyOWH3etIvxKpVIsF4ioIPB9lt3dXXQXlp6f/w13+XpEHpuvZkfg+8zY2BDThzND4src3PR1t+3GxoYvZ7ggnD7//HOpVCqL7sbSIPADsFKrSe7ggPKOC1qpJLmDA1kJYLRWq9Xk4OCA8k7EbG5u8hOcS2y8Cti42WS55oz0OY3S2JW5WNvb254PTxM5D/uolnKC3HjF4WkBm9cpkJgNP/4vTrVaJewXjJIOgMBVq1VfzjQi7L0h8AEEirAPDwIfQGAI+3Ah8AEEgrAPHwIfgO8I+3Ai8AH4irAPLwIfgG8I+3Aj8AH4grAPPwIfgGe1Wo2wXwIEPgDPdnZ2PD+DsA8egQ/Ak2az6fnuYMJ+PjhLB7eyGw0ZNRriHB6KiIhWLou5scE5QRAR73cHE/bzQ+DjDeNmU+xGQ+xmU8bNpoxvOOxq8O1vi/HNb8pKrebLdYSIJ8J+vgj8GHMOD2XcbMqo0TgP+qdPXbUf/eAHclqpyGqjQejHmOox6IT9/BH4MTHpdC7D3b4I+InLM7evM372TAa7u5LxYdIOy2l6d7CbOj5hvxhcgBJR01C3L0o0jsdJtfdJ5POSPzwMZJTfaDTk8GLuoFwuc559SNVqNdna2prps4T9+3EBCmZm1WrS39kJNODfNjk5kXGz6eutVbVaTXZ2dt4ZNZZKJdnZ2ZFqterbu+BdtVqVRqNx61p8wn6xWJYZIWfVqpxtbc017INQrVZla2vr2hJBq9WSra0tAj+EarWa7O3tXXt3cKlUkr29PcJ+wSjpRIRVq8nZjD9SB2H1hz/0ZYTvZnv+3t4ewR9Sb98dTCludkGWdAj8iDgplxc6ss///OeilcuenuH2LJZSqXRZ3weiIsjAp6QTAUFPyt5Gf/Ro7mEvcl7eaTabnt4LxAmBD8+8Lsn0csqi112eQJwQ+PBkZW/PU+3eryN1AdyOwIcSc3NT8j//uZgeJk39CHvmiYDZsQ4/AvRKRbRSKbA6fvLBA0mur4tRqUhyfd2XQ9P8CPtSqSTrHOAGzIzAD9jh4eEbO0XLHic3b5Ld3ZXukyeen6OVSpehblQqvm6mmvKrjOPHGew3sa8sK0wUCpwMikgg8ANSr9dle3v72p2iu7u7srGx4ev7jI0NMTc3xXIRpIl8XpLr66JXKqJf/B70IWh+XoMXxBr8Ub0uve3td35a0kolye7uiuHz1w2YJ9bhB2CWUAtqi/lNgSVyXpqZhrtfpRk3wn7n6Vm1etas3DAv3+yzurr6SRjCXiQEJZ2pQqHQyuVyv+9ljf5VJycn8vz5c+7IBTAT73cHE/bzQ+DPx//q9/sPVRvv7u56euH+/r5sbm56egaA+IhC2Iv4MO8Th8Af/vXfZ9fW1jyH6/7+vjQaDWk2m9LpdKRSqVCzB+La/5f/1/9f/18xj7APNOhjEvhy9uzZ3ziO81Uva/FVVq7EJewnDw7k9K0DyXLZ7OUyyEV4+fKl0jdMwh6xCPsL+9VqNVLfcJct7EXO5yVUnJyc+N0VBCgq/9/OIuxFRIbD4YNOp1Py+sy1tTWl/y7dble1G3iP3rNncvr4sf+3bAUgmUzG+pvlNO8VTlcV0umD01JKGIR+NOlzNGvr0RYSQR+G0OfTg+Wum3GRz+c9vcOyLBmNRp6egbeNDg8zL148/0E+n//ior45S+CnE4mB14nYVCqlfNYLwr4zXYRKPL1I/yxdNr78ZerX+Xz+0GsVJahSChbHcZzE66dP/5vKVxLwH3V8ePHg3x59T9M0zwn64mJP0EI5jjPzB4E3vf30l35G+HN0t+YGwS39xgLg12AHAD4i8AGPgjxNE/4g8AGPgnzCrP8ISbQR+IAHA8dxEquPHy+6G1giHI8CeGOaZudwxiXNpmkqj/ABNwh8wBMtl8v9visAvJdl22JblgyHQxkMBmJZ1qK7hbcQ+IAnWsFxnFu/X/V6vWl3N/PugOVB4APeJHR9xnVPhmHI6uqqOxGfPIX3IfD9Z5qm2TFN0/WVXKVRQKV8IZFIOLa9xMH/P+L+/8uNyW+//xIIB4eSIPABN3q93kznh19F4M+fclwwyve9j/OHwMdSc5rNy1+j/+tTlwf/nqeulJBhGMqj1mSyqfItC8tFM01znMlkln59fdIwjHEmk/lZ0N+OhsOh8lJl0zTH2Wz21xedIQQ+QimZTNqmaf6n0nev8XicTCbtIPs0GAyUj1dIJpO2aZp/EWSfcLvaLF+HIN8/HA4fHB8fb/vZJ+BNBD7CKp/Pf+FlQGrbtgwGg8LZ2dnXg+zYtC9eDrhKpVKLfoHQsm37tzRN+x3X79E0pTkC3O78+fPnl6P8oMsOg8FgnElF4wu/e/X8ue+X9Gua9u+Zz/9xkP2JI+6qhJJEIjEej8e6ansnIvfo4Gq12u/YjvO7Kl3q9fuz/Hyz2Xzk+x3LsN/H7XsJfIRZPp9X3nxlGIZS7f/y7yxL9aXANEslE/dfe+rHMbW1jKZpNy73vI9KRnUvM4pwD/cI3yeFQuG5YRgu99T6J+j/Dv1+P7BlnVdFJVfc/vcW9ZLOuNl03SZKI/xpX5aty6Zpel2lM200GqXG47H7c3CCR+DDi4jU9FNCPsLPZrN/6vbF4/E4Kl/3uBiNRotfj++SwxVt+BX4sj6/7L2hhCFpmiZrayq/3W3wL2Fp/E/kEYFB4FuWlQjypVEdl/b7/d+8/NNsNjMej6fZ4H6pph83Y/0/hzAHEfuLZklC07QhHx+TrY+fPZNLpqn2MWn+hS7nrM8v87uu46LPXhXQ/w5D9X/bYIQf+ICJC4bjgMCHc6jQ77dK1Z+hBH5lYRTt7S26k5Jfv9f+19vGSdD/HdT/bN1H//sn/EK5SgCAiNM27R9N++3yzYZhDAKp4ROZr/oDAIiH/w/JNvZBaAHAigAAAABJRU5ErkJggg==
    mediatype: image/png
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - lightspeed.openshift-ai.io
          resources:
          - openshiftailightspeeds
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - lightspeed.openshift-ai.io
          resources:
          - openshiftailightspeeds/finalizers
          verbs:
          - update
        - apiGroups:
          - lightspeed.openshift-ai.io
          resources:
          - openshiftailightspeeds/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - ols.openshift.io
          resources:
          - olsconfigs
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ols.openshift.io
          resources:
          - olsconfigs/finalizers
          verbs:
          - update
        - apiGroups:
          - ols.openshift.io
          resources:
          - olsconfigs/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - operators.coreos.com
          resources:
          - clusterserviceversions
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: openshift-ai-lightspeed-operator-controller-manager
      deployments:
      - label:
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: openshift-ai-lightspeed-operator
          control-plane: controller-manager
        name: openshift-ai-lightspeed-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --metrics-bind-address=:8443
                - --leader-elect
                - --health-probe-bind-address=:8081
                command:
                - /manager
                env:
                - name: OPENSHIFT_LIGHTSPEED_OPERATOR_VERSION
                  value: latest
                - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.annotations['olm.targetNamespaces']
                image: quay.io/opendatahub-io/openshift-ai-lightspeed-operator:latest
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              securityContext:
                runAsNonRoot: true
              serviceAccountName: openshift-ai-lightspeed-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        - apiGroups:
          - operators.coreos.com
          resources:
          - clusterserviceversions
          verbs:
          - delete
          - patch
          - update
        - apiGroups:
          - operators.coreos.com
          resources:
          - installplans
          verbs:
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - operators.coreos.com
          resources:
          - subscriptions
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        serviceAccountName: openshift-ai-lightspeed-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - ai
  - assistant
  - openshift-ai
  - rhoai
  - machine-learning
  - llm
  links:
  - name: OpenShift AI Lightspeed Operator
    url: https://github.com/opendatahub-io/openshift-ai-lightspeed-operator
  maintainers:
  - email: lmartins@redhat.com
    name: Lucas Alvares Gomes
  - email: geguileo@redhat.com
    name: Gorka Eguileor
  - email: lpiwowar@redhat.com
    name: Lukas Piwowarski
  maturity: alpha
  provider:
    name: Red Hat
    url: https://github.com/opendatahub-io/openshift-ai-lightspeed-operator
  version: 0.0.1
